/* include a dark 'base' css from userstyles.org here
 * easy install: https://userstyles.org/styles/137361/dark-transparent-whatsapp-10-fonts
 * 
 * 2018/02/09
 * m0x23
*/


/* privacy? - this blurs out errything dude - feel free to edit to your needs */

._2wP_Y {
    filter: blur(5px) grayscale(65%);
    transition: 100ms ease-in-out;
}
._2wP_Y:hover {
    filter: blur(0) grayscale(0%);
}
.message-image {
    filter: blur(10px) grayscale(65%);
    transition: 100ms ease-in-out;
}
.message-image:hover,
.message-image:active {
    filter: blur(0px) grayscale(0%);
}
